.vscode
data/
target/
data
target
*.log
*.tmp
*.bak
.DS_Store
./data
./target
/target
/random_universe_generator_front_end/node_modules
/random_universe_generator_front_end/.next
/random_universe_generator_front_end/next-env.d.ts
/random_universe_generator_front_end/dist
/random_universe_generator_front_end/build
./random_universe_generator_front_end/node_modules
./random_universe_generator_front_end/.next
./random_universe_generator_front_end/next-env.d.ts
./random_universe_generator_front_end/dist
./random_universe_generator_front_end/build
/node_modules
/.next
/next-env.d.ts
/dist
/build