.entity_information_container {
    position: absolute;
    top: 150px;
    left: 160px;
    padding: 1rem;
    width: 18rem;
    background-color: rgba(58, 58, 58, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 8px;
}

.entity_information_container h2 {
    margin-top: 0;
}

.entity_information_container p {
    margin: 0.5rem 0;
}

.entity_information_container button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.entity_information_container button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.bottom_buttons {
    display: flex;
    justify-content: space-between;
}