.star_information_container {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 1rem;
    width: 20rem;
    background-color: rgba(58, 58, 58, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 8px;
}

.planet_information_container {
    position: absolute;
    top: 20px;
    right: 400px;
    padding: 1rem;
    width: 20rem;
    background-color: rgba(58, 58, 58, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 8px;
}

.star_information_container p,
.planet_information_container p,
.header p {
    font-size: 1.1rem;
    margin: 0.5rem 0;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.planet_information_container_subtext,
.star_information_container_subtext {
    font-weight: bold;
}

.navigation_instructions {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 20px;
    right: 20px;
    padding: 1rem;
    width: 30rem;
    background-color: rgba(58, 58, 58, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: white;
    border-radius: 8px;
}

.navigation_instructions h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.navigation_divider {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0.5rem 0;
}

.navigation_instructions ul {
    padding-left: 1.2rem;
    margin: 0;
}

.navigation_instructions li {
    display: flex;
    margin-bottom: 0.5rem;
}

.navigation_instructions li p {
    margin-left: 150px;
    text-align: right;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    flex: 1;
}

.bottom_flavor {
    /* text-align: center; */
    font-style: italic;
    font-weight: bold;
    margin-top: 1rem;
}

.header {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 1rem;
    background-color: rgba(58, 58, 58, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}

.back_button {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    z-index: 100000000;
    align-self: baseline;
}

.back_button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.title {
    display: inline;
    color: white;
    margin: 0;
    font-size: xx-large !important;
    border-bottom: 1px solid rgb(152, 152, 152);
}

.star_system_details {
    font-size: 1.1rem !important;
}

.star_system_details p {
    padding-top: 10px !important;
    display: flex !important;
    justify-content: space-between !important;
    gap: 1rem !important;
}

.star_system_details_subtext {
    text-align: right !important;
    margin: 0 !important;
    font-style: italic !important;
    font-weight: bold !important;
    flex: 1 !important;
}