.loadingScreenContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000000;
}

.loadingScreenContainerTitle {
    font-size: 3rem;
}

.application_title {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    margin: 0;
    font-size: xx-large !important;
}

.application_title h1 {
    font-size: 3rem;
    margin: 0;
}

.application_title h3 {
    font-size: 1rem;
    margin: 0;
}

.application_title p {
    font-size: 0.85rem;
    margin: 0;
    padding-top: 10px;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    z-index: 100000000;
}

.application_title p a {
    color: #1a98ff;
    text-decoration: underline;
}

.application_title span {
    font-weight: bold;

    text-align: right;
    margin: 0;
    font-weight: bold;
    flex: 1;
}

.galaxy_information_container {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 1rem;
    width: 18rem;
    background-color: rgba(58, 58, 58, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 8px;
}

.galaxy_information_container h2 {
    margin-top: 0;
}

.galaxy_information_container p {
    margin: 0.5rem 0;
    font-size: 1.1rem;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.galaxy_information_container_subtext {
    font-weight: bold;
    align-items: flex-end;
}

.galaxy_information_container button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.galaxy_information_container button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.bottom_buttons {
    display: flex;
    justify-content: space-between;
}

.navigation_instructions {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 20px;
    right: 20px;
    padding: 1rem;
    width: 30rem;
    background-color: rgba(58, 58, 58, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: white;
    border-radius: 8px;
    justify-content: space-between;
}

.navigation_instructions h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.navigation_divider {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0.5rem 0;
}

.navigation_instructions ul {
    padding-left: 1.2rem;
    margin: 0;
}

.navigation_instructions li {
    display: flex;
    margin-bottom: 0.5rem;
}

.navigation_instructions li p {
    margin-left: 150px;
    text-align: right;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    flex: 1;
}

.bottom_flavor {
    font-style: italic;
    font-weight: bold;
    margin-top: 1rem;
}

.star_systems_list {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 1rem;
}

.star_systems_list_header {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.star_systems_list_button {
    background-color: rgba(255, 255, 255, 0.2) !important;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
    font-weight: bolder;
    z-index: 100000000;
    display: block;
    margin: 0.5rem auto 0;
}

.star_systems_list_button:hover {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.star_systems_list_item {
    background-color: transparent !important;
    border: none;
    padding: 0.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    color: #7373ff !important;
    text-decoration: underline;
    font-weight: bold;
    font-size: medium;
}

.star_systems_list_item:hover {
    color: #c9c9ff !important;
}

.star_systems_title {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}


/* Mobile only CSS */
@media screen and (max-width: 768px) {

    .application_title h1 {
        font-size: 2rem;
        margin: 0;
    }

    .application_title h3 {
        font-size: 0.5rem;
        margin: 0;
    }

    .application_title p {
        font-size: 0.4rem;
        margin: 0;
        padding-top: 10px;
        font-style: italic;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }

    .galaxy_information_container {
        position: absolute;
        top: 20px;
        left: 20px;
        padding: 1rem;
        width: 9rem;
        background-color: rgba(58, 58, 58, 0.7);
        border: 1px solid rgba(255, 255, 255, 0.2);
        color: white;
        border-radius: 8px;
    }

    .galaxy_information_container h2 {
        margin-top: 0;
        font-size: 0.8rem;
    }

    .galaxy_information_container p {
        margin: 0.25rem 0;
        font-size: 0.6rem;
        padding-top: 5px;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }

    .galaxy_information_container_subtext {
        font-weight: bold;
        align-items: flex-end;
    }

    .galaxy_information_container button {
        margin-top: 0.5rem;
        padding: 0.25rem 0.2rem;
        background-color: rgba(255, 255, 255, 0.2);
        border: none;
        color: white;
        cursor: pointer;
        border-radius: 4px;
        font-size: 0.6rem;
    }


    .galaxy_information_container button:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }

    .bottom_buttons {
        display: flex;
        justify-content: space-between;
    }

    .star_systems_list {
        margin-top: 0.1rem;
    }

    .navigation_instructions {
        position: absolute;
        display: flex;
        flex-direction: column;
        bottom: 20px;
        right: 20px;
        padding: 1rem;
        width: 15rem;
        background-color: rgba(58, 58, 58, 0.7);
        border: 1px solid rgba(255, 255, 255, 0.4);
        color: white;
        border-radius: 8px;
        justify-content: space-between;
    }

    .navigation_instructions h2 {
        margin-top: 0;
        margin-bottom: 0.25rem;
        font-size: 1rem;
    }

    .navigation_instructions p {
        font-size: 0.6rem;
    }

    .navigation_divider {
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2);
        margin: 0.25rem 0;
    }

    .navigation_instructions ul {
        padding-left: 0.6rem;
        margin: 0;
    }

    .navigation_instructions li {
        display: flex;
        margin-bottom: 0.25rem;
        font-size: 0.5rem;
    }

    .navigation_instructions li p {
        margin-left: 75px;
        text-align: right;
        margin: 0;
        font-style: italic;
        font-weight: bold;
        flex: 1;
    }

    .bottom_flavor {
        font-style: italic;
        font-weight: bold;
        margin-top: 1rem;
    }
}