version: "3.9"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: random-universe-generator-frontend
    ports:
      - "3000:3000"
    restart: unless-stopped
